<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permite conexiones de red durante el desarrollo -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Solo en debug: permite HTTP para probar con el backend local -->
    <application android:usesCleartextTraffic="true" />
</manifest>